;// --- FPS & ENGINE PERFORMANCE (Optimized for 180Hz + Reflex) ---
fps_max "174"
lobby_max_fps "60"
cl_forcepreload "0"
mat_queue_mode "2"                                          // Force the game into using; (-1) default, (0) synchronous single thread, (1) queued single thread, (2) queued multithreaded, (Works)

;// --- Stability settings ---
cl_phys_maxticks "0"                                        // Prevents physics simulation limits from bottlenecking frametime stability (Works)
host_sleep "0"                                              // Force the host to sleep a certain number of milliseconds each frame; (Works)

;// --- MOUSE & INPUT TWEAKS (Optimized for Keychron 1kHz) ---
m_filter "0"                                                // Mouse filtering; (0) off, (1) on, (Works)
m_rawinput "1"           									// Forces Apex to bypass Windows pointer settings for true raw mouse data; (0) off, (1) on (Works)
m_acceleration "0"       									// Completely disables mouse acceleration; (0) off, (1) on (Works)
m_customaccel "0"        									// Disables Source-engine specific mouse acceleration; (0) off, (1) on (Works)

;// --- COMPETITIEVE AUDIO TWEAKS (7.1 Surround Mode) ---
sound_num_speakers "8"                                      // Again, number of audio channels; (2) stereo, (6) 5.1, (8) 7.1, (Works)
miles_channels "8"                                          // Number of audio channels; (2) stereo, (6) 5.1, (8) 7.1, (Works)
snd_mixahead "0.07"                                         // Lowers the delay of audio processing (Audio latency) (Works)
sound_volume_sfx "1"                                        // SFX volume; (Works)
sound_volume_dialogue "1"                                   // Dialogue volume; (Works)
sound_volume_music_game "0.000000"                          // Music volume; (Works)
sound_volume_music_lobby "0.000000"                         // Lobby music volume; (Works)
sound_without_focus "1"                                     // Play sound when tabbed out; (0) off, (1) on, (Works)
snd_setmixer PlayerFootsteps vol "0.1"                      // Reduce your footsteps noise for you; (Works)
snd_setmixer GlobalFootsteps vol "1.2"                      // Increase the enemy footsteps for you; (Works)
snd_headphone_pan_exponent "2"                              // Makes sounds you are facing towards louder, distant sounds in the middle much better; (Works)

;// --- Visibility & Exposure ---
map_settings_override "1"                                   // Enables video tweaking settings; (0) off, (1) on, (Works)
mat_light_edit "1"                                          // Changes to the map lighting; (0) off, (1) on, (Works)
mat_autoexposure_override_min_max "1"                       // mat_autoexposure_min and mat_autoexposure_max override all existing map parameters; (Works)
mat_autoexposure_speed "2"                                  // Speed between the exposure changes (Works)
mat_autoexposure_min "1.0"                                  // Minimum light intensity; (Works)
mat_autoexposure_max "1.0"                                  // Maximum light intensity; (Works)
mat_autoexposure_min_multiplier "1.7"                       // Minimum multiplier of light intensity; (Works)
mat_sun_highlight_size "0"                                  // Change the size of the highlight from the sun; (Works)
mat_hide_sun_in_last_cascade "1"                            // Solar lighting in the last cascade; (Works)
mat_colcorrection_disableentities "1"                       // Change the color filter; (Works)
mat_postprocess_enable "0"                                  // Remove forced HDR; (Works)
noise_filter_scale "0"                                      // Film-grain; (0) off, (Works)

;// --- Lighting, shaders & FX Optimizations ---
mat_disable_bloom "1"                                       // Propagation of the glow from light sources; (0) on, (1) off, (Works)
mat_bloom_scalefactor_scalar "0"                            // Bloom scale factor; (0) off, (1) on, (Works)
mat_bloomscale "0"											// Master-lock to set scale of all bloom to 0 (Works)
mat_bumpmap "0"                                             // Control bumpmapping; (Works)
mat_specular "0"                                            // Control reflections/shine for matte textures and better contrast; (Works)
r_dynamic "0"												// Disables dynamic world lighting (muzzle flashes illuminating walls/floors); (Works)
r_maxdlights "0"                                            // Determines the maximum number of dynamic lights visible on the screen; (reducing this value can improve performance in heavy combat), (Works)
particle_cpu_level "0"										// Lowers CPU-load for particle effects; removes FPS drops during Ultimates (Works)

;// --- Shadow enhancement ---
r_shadows "0"                                               // Enable shadows; (0) mostly off, (1) on, (Works)
mat_shadowstate "0"                                         // Disables dynamic shadow-states for less visual clutter. (Works)
r_shadowmaxrendered "0"                                     // Max shadows the game will render; (Works)
r_shadowrendertotexture "0"                                 // Shadow render to textures; (0) low, (1) high, (Works)
shadow_always_update "0"                                    // Shadows checks; (0) off, (1) on, (Works)
sssss_enable "0"                                            // Screen Space subsurface scattering; (0) off, (1) on, (Works)

;// --- Decals,Clutter & Ragdoll  ---
cl_ragdoll_maxcount "0"                                     // Ragdolls count; (0) ragdolls off, (Works)
g_ragdoll_fadespeed "10000"                                 // Rate of ragdoll fading; (higher is faster fading rate, so 0 will not fade and cause memleaks), (Works)
g_ragdoll_lvfadespeed "10000"                               // Rate of ragdoll fading in low violence; (Works)
func_break_max_pieces "0"					                // Removed debris immediately visually (e.g. breaking doors); (0) Debris not visible; (1) Debris visible; (Works)
r_drawmodeldecals "0"                                       // Render decals on models; (0) off, (1) on, (Works)
r_deferred_decals "0"										// Disables deferred/world decals like bullet holes on walls and terrain; (0) off, (1) on, (Works)
r_decalstaticprops "0"                                      // Disable decals on static props; (Works)
r_createmodeldecals "0"										// Prevents creating new decals on enemy during fight; (0) off, (1) on, (Works)

;// --- Water enhancement --- 
r_forcecheapwater "1"                                       // Decrease in water quality; (Works)
r_waterforcereflectentities "0"                             // Force reflection entities; (0) low, (1) high, (Works)

;// --- Weapon & HUD settings ---
cl_ejectbrass "0"                                           // Fired bullets shells; (0) off, (1) on, (Works)
r_drawtracers_firstperson "0"                               // Tracers on your bullets; (0) off, (1) on, (Works)
hud_setting_showButtonHints "0"                             // Button hits; (0) off, (1) on, (Works)
hud_setting_damageIndicatorStyle "1"                        // Crosshair damage feedback; (0) off, (1) X, (2) X w/shield icon, (Works)
hud_setting_damageTextStyle "1"                             // Damage numbers; (0) off, (1) stacking, (2) floating, (3) both, (Works)
hud_setting_minimapRotate "1"                               // Minimap rotates with you; (0) off, (1) on, (Works)
hud_setting_pingDoubleTapEnemy "1"                          // Double tap to ping enemy; (0) off, (1) on, (Works)
hud_setting_adsDof "0"                                      // Depth of field when aiming down sights; (0) off, (1) on, (Works)
hud_setting_enableModWheel "1"                              // Mod wheel; (0) off, (1) on, (Works)
hud_setting_pingAlpha "0.100000"                            // Transparency of ping banners; (Works)
hud_setting_showHopUpPopUp "0"                              // Hopup popups; (0) off, (1) on, (Works)
player_setting_autosprint "1"                               // Sprints automatically when walking forward; (0) off, (1) on, (Works)
player_setting_damage_closes_deathbox_menu "0"              // Receiving damage auto-closes inventory; (0) off, (1) on, (Works)
player_setting_enable_heartbeat_sounds "0"                  // Seer heartbeat sounds; (0) off, (1) on, (Works)
damage_indicator_style_pilot "3"                            // Type of arrow to display when taking damage; (0) 2D, (1) both, (3) 3D, (Works)
weapon_setting_autocycle_on_empty "0"                       // Autocycles weapon when empty; (0) off, (1) on, (Works)
ordnanceSwapSelectCooldown "0"                              // Reduce grenade swap time; (0) on, (1) off, (Works)
sidearmSwapSelectDoubleTapTime "0"                          // Reduce the time to change weapons by double clicking; (0) on, (1) off, (Works)
sidearmSwapSelectCooldown "0"                               // Reduce weapon swap time; (0) on, (1) off, (Works)

;// --- Field of View settings ---
mat_depthfeather_enable "0"                                 // Depth of field; (0) off, (1) on, (Works)
cl_fovScale "1.55"                                          // Modify your FOV; (1.55) 110FOV, (1.7) 120FOV, (Works)
fov_disableAbilityScaling "1"                               // FOV changes depending on abilities; (0) on, (1) off, (Works)
sprint_view_shake_style "1"                                 // Less headbob; (0) off, (1) on, (Works)

;// --- Network settings ---
telemetry_client_enable "0"                                 // Disable telemetry; (Works)
telemetry_client_sendInterval "0"                           // How often to send telemetry data; (Works)
projectile_prediction "1"                                   // Enable client-side prediction and projectile projectile compensation; (Works)
projectile_predictionErrorCorrectTime "0.1"                 // Time during which projectile prediction errors are corrected; (Works)
net_netGraph2 "1"                                           // Performance display; (0) off, (1) on, (Works)
pin_opt_in "0"                                              // Send PIN telemetry data to EA; (0) off, (1) on, (Works)
pin_plat_id "0"                                             // Opt in Respawn data surveys; (0) off, (1) on, (Works)
cl_matchmaking_timeout "100"                                // Raise base matchmaking timeout to decrease potential timeouts; (Works)

;// --- Physics & Object Enhancements ---
rope_smooth "0"                                             // Disables anti-aliasing (smoothing) on ziplines and ropes; (Works)
rope_collide "0"                                            // Skip CPU heavy world collisions for ropes; (Works)

;// --- VRAM & Texture Enhancements
stream_drop_unused "1"                                      // Drop unused textures aggressively; (0) off, (1) on, (Works)

;// --- Stop forced MIC ---
voice_forcemicrecord "0"                                    // Allow recording of communications; (0) off, (1) on, (Works)

;// --- Binds
bind_US_standard "=" "exec autoexec"                        // Allows changes to autoexec.cfg to be loaded mid-game
bind_US_standard "F8" "toggleconsole"

;// --- CONFIRMATION ---
echo "--- AUTOEXEC SUCCESFULLY LOADED ---"

;// --- Violence settings ---
;// violence_ablood "0"                                         // Blood effect; (0) off, (1) on (Works)
;// violence_agibs "0"                                          // Blood effect; (0) off, (1) on (Works)
;// violence_hblood "0"                                         // Blood effect for aliens zomby things; (0) off, (1) on (Works)
;// violence_hgibs "0"                                          // Blood effect for aliens zomby things; (0) off, (1) on (Works)

;// --- Stretched Res ---
;// building_cubemaps "1"
;// mat_letterbox_aspect_goal "0"
;// mat_letterbox_aspect_threshold "0"