/* Google Fonts */
.magra-regular {
  font-family: "Magra", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.magra-bold {
  font-family: "Magra", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Baselines */
body {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: top;
    margin: 0;
	padding: 0;
	width: 100%;
}
* {
	font-family: "magra", sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
	box-sizing: border-box;
}
div {
    box-sizing: border-box;
	width: 100%;
	height: 100%;
    background-color: transparent;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */	
}
a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
p {
  font-weight: 400;
}
/*  Icon baseline  */
.icons {
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
i {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
i:hover {
    color: #fff;
}
/* 
	Color scheme
	///////////////

	///////////////		Gray
	Gray - GH button
		background-color: #353333;
	
	Gray - Body background
		background-color: #161616;
	
	Gray - Search bar
		background-color: #303030;	
	
	Gray - Search bar : focus
		background-color: #212121;

	
	///////////////		Yellow
	Yellow full hover
		background-color: #edc40f;

	///////////////		Red
	Red full
		background-color: #ab0a0a; 
	Red shadow
		box-shadow:  0px 100px 21px -99px #cf0808;
	Red shadow -	Top Header 
		box-shadow: inset 0px 100px 21px -99px #f328283b;

	Red shadow : hover
		background-color: #ab0a0a2e;		

	///////////////		Orange
	Orange full
		background-color: #ab480a;
	Orange shadow
		box-shadow: inset 0px 100px 21px -99px #e47003;

	///////////////		Black
	Black full - Table row even
		background-color: #0000009f;
	Black shadow
		box-shadow: inset 0px 0px 20px -2px #0000004c;
	Black shadow - Table Header
		box-shadow: inset 0px 98px 21px -99px #100f0f;
	
*/
/*  Main Container  */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-self: top;
    margin: 0;
	padding: 0;
}
.top-header-filler {
	display: flex;
	flex-direction: row;
	background-color:#ab0a0a;	
	box-shadow: inset 2px 2px 10px 0px #f901017d;
	height: 50px;
	width: 100%;
	align-items: center;
  	justify-content: center;
}
.library-seperator {
	display: flex;
	width: 100%;
	height: 5px;
	background-color: #fff;
	z-index: 11;
}
.library-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    align-self: center;
    background-color: #3d4047;
    color: #FFFFFF;
	margin:auto;
	background-image: url('../images/apexlegendsbanner-300.png');
	background-clip: content-box;
	background-size:contain;
	background-position: center;
	background-repeat: no-repeat;
}
.container-seperator {
	display: flex;
	width: 100%;
	height: 1px;
	background-color: #ab0a0a;
}
.commandinputbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 52px;
    align-self: center;	
	align-items: center;
	justify-content: center;
} 
.library-table {
    display: flex;
    flex-direction: column;
	align-self: center;
    width: 100%;
}
/* Library Background */
.library-background {
	display:flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 300px;
	margin: 0px;
	padding: 0px;
	background-color:#212121;
}
/* Library Text */
.container-banner {
	display: flex;	
	width: 100%;
	height: 300px;	
	align-items: center;
	justify-content: center;
	box-shadow:  0px -5px 10px 4px #000000;
}
.apexBanner {
	display: flex;	
	flex-direction: row;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.library-image-1 {
	display: flex;	
	flex-direction: row;
	width: 40%;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding: 7px;
}
.library-text-1 {
	display: flex;	
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	text-align: left;
	padding: 7px;
}
.library-text-1 p {
    display: flex;
    text-align: center;
    font-size: 14px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
.library-text-1 p:first-child {
    font-size: 18px;
    font-weight: bold;
}
.library-image-2 {
	display: flex;	
	flex-direction: row;
	width: 40%;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding: 7px;
}
.library-text-2 {
	display: flex;	
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	text-align: left;
	padding: 7px;
}
.library-text-2 p {
    display: flex;
    text-align: center;
    font-size: 14px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
.library-text-2 p:first-child {
    font-size: 18px;
    font-weight: bold;
}
.banner-bar {
	display: flex;
	width: 2px;
	height: 300px;
	background-color: #ab0a0a;
	z-index: 4;
}

/* Registry Table */
table {
    border-collapse: collapse;
    width: 100%;
}
thead th {
	text-align: left;
  	padding: 12px;
   	background-color:  #ab0a0a;
  	color: #ffffff;
	box-shadow: inset 0px 98px 21px -99px #100f0f;
	
}
th {
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    font-weight: bold;
	word-wrap: normal;
	word-break: break-word;
}
tbody td {
	padding: 12px;
}
td {
    text-align: left;
    font-size: 12px;
    padding: 8px;
    word-wrap: normal;
	word-break: break-word;
}
/* Command Input */
#commandInput {
	background-image: url('../images/icons/icon-search-white-20.png');
	background-size: 20px 20px;
	background-position: 6px 6px;
	background-repeat: no-repeat;
	width: 27%;
	font-size: 14px;
	padding: 7px 15px 7px 35px;
	height: 34px;
	color: #fff;
	background-color: #303030;
	border: none;
	border-radius: 7px;
	margin: 2px;
	margin-left: 10px;
}
#commandInput:focus {
	background-attachment: fixed;
	outline: none;
	border: none;
	background-color: #212121;
	color: #fff;
}
#commandInput::placeholder {
	color: #FFF;
	opacity: 0.75;
}
#commandInput:focus::placeholder{
	color: transparent;
}
/* Table children styling */
.thead-current th:nth-child(4), .thead-current th:nth-child(5), .thead-current th:nth-child(6), .thead-current th:nth-child(7) {
    text-align: center;
} 
.thead-current th {
	cursor: pointer;
}
.thead-removal th {
	cursor: pointer;
}
.thead-current th:nth-child(5), .tbody-current td:nth-child(7){
	word-wrap: normal;
	text-align: left;
}
.tbody-current td:nth-child(4), .tbody-current td:nth-child(6) {
    text-align: center;
}
tr:nth-child(even) {
	background-color: #0000009f;
	color: #ffffff;
}
tr:nth-child(odd) {
	background-color: #161616;
	color: #ffffff;
}
tr:hover {
	background-color: #ab0a0a;
}
/* Table children styling Removal Library */
.thead-removal th:nth-child(4), .thead-removal th:nth-child(5), .thead-removal th:nth-child(6), .thead-removal th:nth-child(7) {
    text-align: center;
}
.tbody-removal td:nth-child(4), .tbody-removal td:nth-child(6), .tbody-removal td:nth-child(7) {
    text-align: center;
}
/* Command Library Test CSS */
.command-table {
	border-collapse: collapse;
	width: 100%;
}
.command-table tr:nth-child(even) {
	background-color: #0000009f;
	color: #ffffff;
}
.command-table tr:nth-child(odd) {
	background-color: #161616;
	color: #ffffff;
}
.command-table th {
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 8px;
    font-size: 14px;
    font-weight: bold;
	word-wrap: normal;
	word-break: break-word;
	border: none;
	cursor: pointer;
	user-select: none;
	border-inline-end: solid 1px #fdfcfc0c;	
}
.command-table td {
	font-size: 12px;
	border: none;	
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
	text-align: left;
	border-inline-end: solid 1px #fdfcfc0c;
}
.command-table thead>tr {
	background-color: #ab0a0a2e;
}
.command-table>tbody>tr:hover {
	background-color:  #ab0a0a2e;	
}
.command-table th::after {
	content: "";
	background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJjdXJyZW50Q29sb3IiIHZpZXdCb3g9IjAgMCAzMjAgNTEyIiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTM3LjQgNDEuNGMxMi41LTEyLjUgMzIuOC0xMi41IDQ1LjMgMGwxMjggMTI4YzkuMiA5LjIgMTEuOSAyMi45IDYuOSAzNC45cy0xNi42IDE5LjgtMjkuNiAxOS44SDMyYy0xMi45IDAtMjQuNi03LjgtMjkuNi0xOS44cy0yLjItMjUuNyA2LjktMzQuOWwxMjgtMTI4em0wIDQyOS4zbC0xMjgtMTI4Yy05LjItOS4yLTExLjktMjIuOS02LjktMzQuOXMxNi42LTE5LjggMjkuNi0xOS44SDI4OGMxMi45IDAgMjQuNiA3LjggMjkuNiAxOS44czIuMiAyNS43LTYuOSAzNC45bC0xMjggMTI4Yy0xMi41IDEyLjUtMzIuOCAxMi41LTQ1LjMgMHoiLz48L3N2Zz4=);
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-left: 5px;
}
/* Table sort icons */
.command-table th.sort-asc::after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJjdXJyZW50Q29sb3IiIHZpZXdCb3g9IjAgMCAzMjAgNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xODIuNiA0NzAuNmMtMTIuNSAxMi41LTMyLjggMTIuNS00NS4zIDBsLTEyOC0xMjhjLTkuMi05LjItMTEuOS0yMi45LTYuOS0zNC45czE2LjYtMTkuOCAyOS42LTE5LjhIMjg4YzEyLjkgMCAyNC42IDcuOCAyOS42IDE5LjhzMi4yIDI1LjctNi45IDM0LjlsLTEyOCAxMjh6Ii8+PC9zdmc+);
}

.command-table th.sort-desc::after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJjdXJyZW50Q29sb3IiIHZpZXdCb3g9IjAgMCAzMjAgNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xODIuNiA0MS40Yy0xMi41LTEyLjUtMzIuOC0xMi41LTQ1LjMgMGwtMTI4IDEyOGMtOS4yIDkuMi0xMS45IDIyLjktNi45IDM0LjlzMTYuNiAxOS44IDI5LjYgMTkuOEgyODhjMTIuOSAwIDI0LjYtNy44IDI5LjYtMTkuOHMyLjItMjUuNy02LjktMzQuOWwtMTI4LTEyOHoiLz48L3N2Zz4=);
}
/*	Top Header Container */
.top-header {
	display: flex;
	flex-direction: row;
	align-items: center;
  	justify-content: center;
	width: 100%;
	height: 50px;	
	background-color:  #ab0a0a;
	box-shadow: inset 2px 2px 10px 0px #f901017d;
}
.top-header-nav {
	display: flex;
	flex-direction: row;
	margin: auto;
	position: absolute;
	left: 3%;
	width: 47%;
	border: none;
	background-color: transparent;
	height: 50px;
}
/*	Github menu button  */
.btn-gh-logo {
	display: flex;
	position: absolute;
	align-items: center;
	text-align: center;
	justify-content: center;
	left: 0;
	margin: 0;
	padding: 0;
	height: inherit;
	width: 3%;
	background-color: #212121;
	box-shadow:  1px 1px 10px 0px #02020268;
	overflow: visible;
	z-index: 11;
	border-right:  2px solid #68686810;
}
.btn-gh-logo:hover {
	background-color: #21d909;
	box-shadow: inset 2px 2px 15px -5px #f3f2f2db;
	cursor: pointer;
}
/*	Nav-bar unordered list class  */
.header-nav-bar {
	background-color: transparent;		
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}
/*	Nav-bar list menu buttons  */
.header-nav-bar li {
	float:left;
	min-width: 25%;
}
.header-nav-bar li a {
    display: inline-block;
	text-align: center;
	align-items: center;
	height: 50px;
	padding-top: 14px;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	background-color: #ab0a0a;
	box-shadow: inset 1px 1px 15px -2px #ff0101b7;
	border-right:  2px solid #68686810;
}
.header-nav-bar li a:hover {
	background-color: #262626;
	box-shadow: inset 2px 2px 12px 0px #000000;
}
.btn-link {
	transition: background 0.1s;
}
.btn-link.is-active{
	background-color: #822d00;
	box-shadow: inset 2px 2px 12px 0px #000000;
}
/*	Nav-bar list menu buttons  */
.p-icon-text {
	font-size: 20px;
	display: inline;
	font-weight: bold;
	padding-left: 3px;
}
/* Counter */
.disp-count-bar {
	display: flex;
	flex-direction: row;
	width: 10%;
	height: 42px;
	margin-right:30px;
	align-items: center;
	justify-content: left;
	text-decoration: none;
	padding: none;
	border: none;
	background-color: #ab0a0a;
	box-shadow: inset 1px 1px 15px -2px #ff0101b7;
}
.disp-count-txt {
	display: flex;
	flex-direction: column;
	width: 72%;
	text-decoration: none;
	text-align: left;
	align-items: center;
	height: 42px;
	justify-content: center;
	margin: 0;
	padding: 0;
	border: 1px solid #ab0a0a;
}
.disp-count-txt p {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.disp-count-counter p {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.disp-count-counter {
	display: flex;
	flex-direction: column;
	background-color: #212121;
	width: 30%;
	height: 42px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	border: 1px solid #ab0a0a;
	
}

.p-icon-count {
	display: block;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 16px;	
	margin: 0;
	padding: 0;

}
.p-icon-comms {
	display: block;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 16px;	
	margin: 0;
	padding: 0;
}
.p-icon-result {
	display: block;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 12px;	
	margin: 0;
	padding: 0;

}
#scrollCount {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 42px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-rendering: auto;
	border: 1px solid #ab0a0a;
	font-family: Arial, Helvetica, sans-serif;
}

#iconCount {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-rendering: auto;
	border: 1px solid #ab0a0a;
}

/* Top Bottom Header
box-shadow: inset 0px 100px 21px -99px #f328287c;
*/
.top-bottom {
	display: flex;
	position: absolute;
	right: 0;
	width: 50%;
	height: 52px;
	background-color: #ab0a0a;
	box-shadow: inset 1px 1px 15px -2px #ff0101b7;
}
.top-bottom p {
	display:flex;
	font-size: 10px;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	text-align: center;
	width: 10%;
	color: #ffffff;
	font-weight: bold;
	background-color: #212121;
	border-left:  2px solid #000000cb;	
	overflow: visible;
	box-shadow:  -1px -1px 10px 0px #02020268;
}
/* Clear icon for search bar */
span#clear-icon {
    display: none;
    right: 1px;
    top: 1px;
    bottom: 1px;
    padding: 0px 5px;
    font-style: normal;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    color: #FFF;
    z-index: 12;
    justify-content: center;
    align-items: center;
	padding-right: 60px;
	height: 34px;
	margin-left: -30px;
	margin-top: 2px;
}

/* Export to cfg */
.btn-export-bar {
    display: flex;
    flex-direction: row;
    width: 76%;
    height: 52px;
	right: 0;
	border: none;
	background-color: transparent;
}
.btn-export-inner {
	display: flex;
	background-color: transparent;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	height: 52px;
	width: 100%;
	margin: 0;
	padding:0;
}
.btn-exp-click {
	display: flex;
	height: 40px;
	font-size: 14px;
	font-weight: bold;
	width: 10%;
	border: none;
	cursor: pointer;
	text-decoration: none;
	margin-right: 10px;
	padding: none;
	background-color:#ab0a0a;
	box-shadow: inset 2px 2px 15px -5px #ff0101b0;
}
.btn-exp-click:hover {
	background-color: #13a200;
	box-shadow: inset 2px 2px 15px -5px #000000db;
	cursor: pointer;
}
.inner-exp-btn-ico {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 39px;
	padding-right: 10px;
}
.inner-exp-btn-txt {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 39px;
}
.inner-exp-btn-txt p{
	display: flex;
	width: 100%;
	height: 39px;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	margin: 0;
	padding:0;	
}
.p-icon-export {
	font-size: 18px;
	font-weight: bold;
}
.p-icon-autoexec {
	font-size: 10px;
	font-weight: bold;
}
