/* Baselines */
body {
    background-color: #161616;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: top;
    margin: 0px;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;   
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
	box-sizing: border-box;
}
div {
    align-self:center;
    background-color: transparent;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
/*  Main Container  */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-self: top;
	margin: auto;
}
.top-header {
	display: flex;
	flex-direction: row;
	align-items: center;
  	justify-content: center;
	background-color: #ab480a;
	width: 100%;
	height: 50px;	
}
.library-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    align-self: center;
    padding: 5px;
    background-color: #3d4047;
    color: #FFFFFF;
}
.container-seperator {
	display: flex;
	width: 100%;
	height: 1px;
	background-color: #ab480a;
}
.commandinputbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 46px;
    align-self: center;	
	padding: 5px;
} 
.library-table {
    display: flex;
    flex-direction: column;
	align-self: center;
    width: 100%;
}
/* Library Text */
.library-text {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-self: center;
}
.library-text p {
    display: flex;
    text-align: left;
    font-size: 14px;
    margin: 0px;
    height: 33%;
    width: 100%;
	padding-left: 15px;    
	padding-top: 10px; 
}
.library-text p:first-child {
    font-size: 18px;
    font-weight: bold;
}
/* Registry Table */
table {
    border-collapse: collapse;
    width: 100%;
}
thead th {
	text-align: left;
  	padding: 12px;
   	background-color: #ab480a;
  	color: #ffffff;	
}
th {
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    font-weight: bold;
	word-wrap: normal;
	word-break: break-word;
}
tbody td {
	padding: 12px;
}
td {
    text-align: left;
    font-size: 12px;
    padding: 8px;
    word-wrap: normal;
	word-break: break-word;
}
/* Command Input */
#commandInput {
	background-image: url('../images/search.png');
	background-size: 20px 20px;
	background-position: 6px 6px;
	background-repeat: no-repeat;
	width: 25%;
	font-size: 14px;
	padding: 7px 15px 7px 35px;
	height: 32px;
	color: #fff;
	background-color: #303030;
	border: none;
	border-radius: 7px;
	margin: 2px;
}
#commandInput:focus {
	background-attachment: fixed;
	outline: none;
	border: none;
	background-color: #212121;
	color: #fff;
}
#commandInput::placeholder {
	color: #FFF;
	opacity: 0.75;
}
#commandInput:focus::placeholder{
	color: transparent;
}
/* Table children styling */
.thead-current th:nth-child(5), .thead-current th:nth-child(6), .thead-current th:nth-child(7) {
    text-align: center;
} 
.thead-current th {
		cursor: pointer;
}
.thead-removal th {
		cursor: pointer;
}
.tbody-current td:nth-child(6) {
    text-align: center;
}
tr:nth-child(even) {
	background-color: #0000009f;
	color: #ffffff;
}
tr:nth-child(odd) {
	background-color: #161616;
	color: #ffffff;
}
tr:hover {
	background-color: #b36230;
}
/* Table children styling Removal Library */
.thead-removal th:nth-child(4), .thead-removal th:nth-child(5), .thead-removal th:nth-child(6), .thead-removal th:nth-child(7) {
    text-align: center;
}
.tbody-removal td:nth-child(4), .tbody-removal td:nth-child(6), .tbody-removal td:nth-child(7) {
    text-align: center;
}
/* Command Library Test CSS */
.command-table {
	border-collapse: collapse;
	width: 100%;
}
.command-table tr:nth-child(even) {
	background-color: #0000009f;
	color: #ffffff;
}
.command-table tr:nth-child(odd) {
	background-color: #161616;
	color: #ffffff;
}
.command-table th {
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    font-weight: bold;
	word-wrap: normal;
	word-break: break-word;
	border: none;
	cursor: pointer;
	user-select: none;
}
.command-table td {
	font-size: 12px;
	border: none;	
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
	text-align: left;
}
.command-table thead>tr {
	background-color: #ab480a;
}
.command-table>tbody>tr:hover {
	background-color: #b36230;	
}
.command-table th::after {
	content: "";
	background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJjdXJyZW50Q29sb3IiIHZpZXdCb3g9IjAgMCAzMjAgNTEyIiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTM3LjQgNDEuNGMxMi41LTEyLjUgMzIuOC0xMi41IDQ1LjMgMGwxMjggMTI4YzkuMiA5LjIgMTEuOSAyMi45IDYuOSAzNC45cy0xNi42IDE5LjgtMjkuNiAxOS44SDMyYy0xMi45IDAtMjQuNi03LjgtMjkuNi0xOS44cy0yLjItMjUuNyA2LjktMzQuOWwxMjgtMTI4em0wIDQyOS4zbC0xMjgtMTI4Yy05LjItOS4yLTExLjktMjIuOS02LjktMzQuOXMxNi42LTE5LjggMjkuNi0xOS44SDI4OGMxMi45IDAgMjQuNiA3LjggMjkuNiAxOS44czIuMiAyNS43LTYuOSAzNC45bC0xMjggMTI4Yy0xMi41IDEyLjUtMzIuOCAxMi41LTQ1LjMgMHoiLz48L3N2Zz4=);
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-left: 5px;
}
.command-table th.sort-asc::after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJjdXJyZW50Q29sb3IiIHZpZXdCb3g9IjAgMCAzMjAgNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xODIuNiA0NzAuNmMtMTIuNSAxMi41LTMyLjggMTIuNS00NS4zIDBsLTEyOC0xMjhjLTkuMi05LjItMTEuOS0yMi45LTYuOS0zNC45czE2LjYtMTkuOCAyOS42LTE5LjhIMjg4YzEyLjkgMCAyNC42IDcuOCAyOS42IDE5LjhzMi4yIDI1LjctNi45IDM0LjlsLTEyOCAxMjh6Ii8+PC9zdmc+);
}

.command-table th.sort-desc::after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJjdXJyZW50Q29sb3IiIHZpZXdCb3g9IjAgMCAzMjAgNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xODIuNiA0MS40Yy0xMi41LTEyLjUtMzIuOC0xMi41LTQ1LjMgMGwtMTI4IDEyOGMtOS4yIDkuMi0xMS45IDIyLjktNi45IDM0LjlzMTYuNiAxOS44IDI5LjYgMTkuOEgyODhjMTIuOSAwIDI0LjYtNy44IDI5LjYtMTkuOHMyLjItMjUuNy02LjktMzQuOWwtMTI4LTEyOHoiLz48L3N2Zz4=);
}
/*	Top Header Nav Bar */
.top-header-nav {
	display: flex;
	margin: auto;
	position: absolute;
	left: 0;
	width: 50%;
	border: none;
	background-color: transparent;
	height: 51px;
}
.header-nav-bar {
	background-color:#ab480a;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.header-nav-bar li {
	float:left;
}
.header-nav-bar a:hover, a:active {
    background-color: #b36230;
    border: none;	
}
.header-nav-bar li a {
    display: block;
	color: #FFF;
	text-align: center;
	padding: 10px;
	font-size: 14px;
	height: 100%;
	width: 100%;
}
.header-nav-bar li a:hover {
	box-shadow: inset 0px 0px 19px 1px #000000;
}
span#clear-icon {
    display: none;
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    padding: 0px 5px;
    font-style: normal;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
    color: #212121;
    z-index: 12;
    justify-content: center;
    align-items: center;
}





