/* Baselines */
body {
    background-color: #161616;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: top;
    margin: 0px;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;   
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
div {
    align-self:center;
    background-color: transparent;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
/*  Main Container  */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-self: top;
}
/* Command Registry */
.registry {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-self: top;  
    background-color: #0000009f;
}
.command {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    align-self: top;  
    background-color: #ffffff;
}
/* Registry Table */
table {
  border-collapse: collapse;
  width: 100%;
}
th {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 28px;
    font-weight: bold;
}
td {
    text-align: left;
    font-size: 22px;
    padding: 8px;
}
tr:nth-child(even) {
  background-color: #3E424B;
}
/*  Topbar containing buttons  */
.navbar {
    display: flex;
    flex-direction: row;  
    width: 100%;
    height: 5em; 
    border-bottom: 1px solid #f3ac28;
    box-shadow:  0px 10px 25px 15px rgba(0, 0, 0, 0.9);
    background-color: #0000009f;
}
.header {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 99%;
    box-shadow: inset 0px -100px 21px -99px #f38a28;
}
