

// command         // description                                                                     // values                           // recommended                 // flagged  // file       // Category           // Comments 
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
fps_max            // Determines the maximum of frame rates rendered                                  // 0-999                            // Custom                      // No       // autoexec   // FPS & Engine       // 
lobby_max_fps      // Determines the maximum of frame rates when in lobby                             // 0-999                            // Custom                      // No       // autoexec   // FPS & Engine       //  
mat_queue_mode     // Sets how the game engine handles multithreaded rendering across your CPU cores  // (-1) default/automatic           // (2) Forced Multi-threaded   // No       // autoexec   // Stability          // (-1) default/automatic (Risk of accidental mishandling chosen thread) 
                                                                                                      // (0) Synchronous Single-Threaded
                                                                                                      // (1) Asychronous Single-Threaded
                                                                                                      // (2) Forced Multi-threaded
r_maxdlights       // Determines the maximum number of dynamic lights visible during firefights       // (0) Competitive                  // (0) Competitive             // No       // autoexec   // FX  Optimizations  // 
                                                                                                      // (32) Default 
                                                                                                      // (1-32) Reduced
cl_phys_maxticks   // Prevents physics simulation limits from bottlenecking frametime stability.      // (0) Competitive                  // (0) Competitive             // No       // autoexec   // Stability          //                                                                                            
                   // Correlation to ragdoll simulation to avoid complex calculations                 // (3) Default
host_sleep         // Prevents host to be forced to sleep a certain number of ms in between frames    // (0) Competitive                  // (0) Competitive             // No       // autoexec   // Stability          // Values (1) (2) (5) drastically lowers CPU & GPU, at the cost of FPS
                                                                                                      // (1) (2) (5) Delayed  







</div>

// command         // description                                                                     // values                           // recommended                 // flagged  // file       // Category           // Comments 
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
fps_max            // Determines the maximum of frame rates rendered                                  // 0-999                            // Custom                      // No       // autoexec   // FPS & Engine       // 

| # | command | description | values | flagged | file | Comments |
| :--: | :--- | :--- | :---: | :---: | :--- | :--- |
|  | func_break_max_pieces | Removed debris immediately visually (e.g. breaking doors) | (15) default, (0) Exploit  | Yes | settings.cfg | Written to settings.cfg by server-side |

</div>



;// --- MOUSE & INPUT TWEAKS (Optimized for Keychron 1kHz) ---
m_filter "0"                                                // Mouse filtering; (0) off, (1) on, (Works)
m_rawinput "1"           				    // Forces Apex to bypass Windows pointer settings for raw mouse data; (0) off, (1) on (Works)
m_acceleration "0"       			            // Completely disables mouse acceleration; (0) off, (1) on (Works)
m_customaccel "0"        				    // Disables Source-engine specific mouse acceleration; (0) off, (1) on (Works)

;// --- COMPETITIVE AUDIO TWEAKS (7.1 Surround Mode) ---
sound_num_speakers "8"                                      // Again, number of audio channels; (2) stereo, (6) 5.1, (8) 7.1, (Works)
miles_channels "8"                                          // Number of audio channels; (2) stereo, (6) 5.1, (8) 7.1, (Works)
snd_mixahead "0.07"                                         // Lowers the delay of audio processing (Audio latency), default is (0.1). Advised not to go lower than (0.05) (Works)
sound_volume_sfx "1"                                        // SFX volume; (Works)
sound_volume_dialogue "1"                                   // Dialogue volume; (Works)
sound_volume_music_game "0.000000"                          // Music volume; (Works)
sound_volume_music_lobby "0.000000"                         // Lobby music volume; (Works)
sound_without_focus "1"                                     // Play background sound when application is minimized; (0) off, (1) on, (Works)
snd_headphone_pan_exponent "2"                              // It makes directional sounds sharper and more distinct when an enemy or sound source is directly to your left or right; Default (1), Relative sound source (2).(Works)

;// --- VISIBILITY & EXPOSURE ---
mat_sun_highlight_size "0"                                  // Change the brightness and shimmer of the sun on the map; (Works)
mat_hide_sun_in_last_cascade "1"                            // Removes far shadow-flickering in the horizon; (Works)
mat_colcorrection_disableentities "1"                       // Disables map-specific color filters for neutral and consistent colors; (Works)
noise_filter_scale "0"                                      // Removes Film-grain for maximum pixel-sharpness; (0) off, (Works)

;// --- LIGHTNING, SHADERS & FX OPTIMIZATIONS ---
r_dynamic "0"	                                            // Disables dynamic world lighting (muzzle flashes illuminating walls/floors); (Works)
r_maxdlights "0"                                            // Determines the maximum number of dynamic lights visible during firefights;, (Works)
particle_cpu_level "0"					    // Lowers CPU-load for particle effects; removes FPS drops during Ultimates (Works)

;// --- SHADOW ENHANCEMENT ---
shadow_always_update "0"                                    // Disables frequent Shadows checks to decrease CPU load; (0) off, (1) on, (Works)
sssss_enable "0"                                            // Disables Screen Space subsurface scattering on characters; (0) off, (1) on, (Works)

;// --- Decals,Clutter & Ragdoll  ---
cl_ragdoll_maxcount "0"                                     // Ragdolls count; (0) Ragdolls off, (Works)
g_ragdoll_fadespeed "10000"                                 // Rate of ragdoll fading; (higher is faster fading rate, so 0 will not fade and cause memleaks), (Works)
g_ragdoll_lvfadespeed "10000"                               // Clean-up rate of ragdoll in low-violence mode; (Works)
func_break_max_pieces "0"                                   // Removed debris immediately visually (e.g. breaking doors); (0) Debris not visible; (1) Debris visible; (Works)
r_drawmodeldecals "0"                                       // Render decals on models; (0) off, (1) on, (Works)
r_deferred_decals "0"                                       // Disables deferred/world decals like bullet holes on walls and terrain; (0) off, (1) on, (Works)
r_decalstaticprops "0"                                      // Disable decals on static props, cars, crates; (Works)
r_createmodeldecals "0"                                     // Prevents generating new decals on enemy during fight; (0) off, (1) on, (Works)

;// --- Water enhancement --- 
r_forcecheapwater "1"                                       // Simplifies watersurfaces for maximum visibility around rivers/large waters; (Works)
r_waterforcereflectentities "0"                             // Disable reflection entities in water for an smooth background; (0) low, (1) high, (Works)

;// --- WEAPON & HUD SETTINGS ---
cl_ejectbrass "0"                                           // Fired bullets shells; (0) off, (1) on, (Works)
r_drawtracers_firstperson "0"                               // Tracers on your bullets; (0) off, (1) on, (Works)
hud_setting_showButtonHints "0"                             // Button hints; (0) off, (1) on, (Works)
hud_setting_damageIndicatorStyle "1"                        // Crosshair damage feedback; (0) off, (1) X, (2) X w/shield icon, (Works)
hud_setting_damageTextStyle "1"                             // Damage numbers; (0) off, (1) stacking, (2) floating, (3) both, (Works)
hud_setting_minimapRotate "1"                               // Minimap rotates along; (0) off, (1) on, (Works)
hud_setting_pingDoubleTapEnemy "1"                          // Double tap to ping enemy; (0) off, (1) on, (Works)
hud_setting_adsDof "0"                                      // Depth of field when aiming down sights; (0) off, (1) on, (Works)
hud_setting_enableModWheel "1"                              // Enable Mod wheel; (0) off, (1) on, (Works)
hud_setting_pingAlpha "0.100000"                            // Makes ping-banners transparent to avoid blocking the view; (Works)
hud_setting_showHopUpPopUp "0"                              // Hopup popups; (0) off, (1) on, (Works)
player_setting_autosprint "1"                               // Sprint automatically when walking; (0) off, (1) on, (Works)
player_setting_damage_closes_deathbox_menu "0"              // Receiving damage closes inventory; (0) off, (1) on, (Works)
player_setting_enable_heartbeat_sounds "0"                  // Seer heartbeat sounds; (0) off, (1) on, (Works)
damage_indicator_style_pilot "3"                            // Type of arrow to display when taking damage; (0) 2D, (1) both, (3) 3D, (Works)
weapon_setting_autocycle_on_empty "0"                       // Autocycles weapon when empty; (0) off, (1) on, (Works)

;// --- FIELD OF VIEW SETTINGS ---
mat_depthfeather_enable "0"                                 // Disables depth of field; (0) off, (1) on, (Works)
;// cl_fovScale "1.55"                                          // Modify your Field of View(FOV); (1.55) 110FOV, (1.7) 120FOV, (Under Review) 
fov_disableAbilityScaling "1"                               // Prevents FOV changing during the use of abilities; (0) on, (1) off, (Works)
sprint_view_shake_style "1"                                 // Minimalizes headbob while sprinting; (0) off, (1) on, (Works)

;// --- NETWORK SETTINGS ---
telemetry_client_enable "0"                                 // Disable EA background telemetry; (Works)
telemetry_client_sendInterval "0"                           // Blocks sending telemetry data; (Works)
projectile_prediction "1"                                   // Enable client-side prediction for bullets, better hit registration; (Works)
projectile_predictionErrorCorrectTime "0.1"                 // Time during which projectile prediction errors are corrected; (Works)
net_netGraph2 "1"                                           // Enables built-in performance display; (0) off, (1) on, (Works)
pin_opt_in "0"                                              // Disable sending PIN telemetry data to EA; (0) off, (1) on, (Works)
pin_plat_id "0"                                             // Disable Respawn data surveys; (0) off, (1) on, (Works)
cl_matchmaking_timeout "100"                                // Raise server-timeout to prevent Code:Leaf/NET; (Works)

;// --- PHYSICS & OBJECT ENHANCEMENTS ---
rope_smooth "0"                                             // Disables anti-aliasing for ziplines & ropes; (Works)
rope_collide "0"                                            // Prevent CPU heavy world collisions for ropes; (Works)

;// --- VRAM & TEXTURE ENHANCEMENTS ---
stream_drop_unused "1"                                      // Drop unused textures aggressively; (0) off, (1) on, (Works)

;// --- STOP FORCED MIC ---
voice_forcemicrecord "0"                                    // Disabled the forced recording of communications and unwantedly keeping the microphone in use; (0) off, (1) on, (Works)
